:root {
    --primary: #ff6533;
    --primary-active: #FF9966;
}

.nav-item:hover {
    opacity: 0.5;
}

.primary-color {
    color: var(--primary);
}

.btn-primary {
    background-color: var(--primary);
    border: solid 2px var(--primary);
    outline: none;
}

.btn-outline-primary {
    color: var(--primary);
    border: solid 2px var(--primary);
}

    .btn-outline-primary:hover {
        background-color: var(--primary-active);
        border: solid 2px var(--primary-active);
    }

    .btn-outline-primary:active {
        background-color: var(--primary-active);
    }

.span-input-primary {
    background-color: var(--primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--primary-active);
    border: solid 2px var(--primary-active);
}

.btn-primary:active {
    background-color: var(--primary-active);
    border: solid 2px var(--primary-active);
}

.bg-waho {
    background-image: url('../img/background.png');
    background-size: cover;
    min-height: 100vh;
}

.form-container {
    background-color: white;
    margin-top: 160px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        color: var(--primary-active)
    }

.login-container {
    margin-top:140px;
}

.reg-container {
    margin-top: 40px;
}