@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row d-flex">
    <div class="col-md-4 mx-auto form-container login-container">
        <div class="pb-4 px-3">
            <div class="d-flex mt-4">
                <h1 class="mx-auto d-flex align-items-center">
                    <img src="~/img/wahologo.png" width="50px" height="50px" />Wa<span class="primary-color">Ho</span>
                </h1>
            </div>
            <h4>Đăng nhập</h4>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Employee.UserName" class="control-label"></label>
                    <div class="input-group mb-3">
                        <span class="input-group-text span-input-primary" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
                        <input type="text" asp-for="Employee.UserName" class="form-control"  placeholder="Nhập tên đăng nhập">
                    </div>
                </div>
                
                <div class="form-group mb-3">
                    <label asp-for="Employee.Password" class="control-label"></label>
                     <div class="input-group mb-3">
                        <span class="input-group-text span-input-primary" id="basic-addon1"><i class="bi bi-key-fill"></i></span>
                        <input type="password" asp-for="Employee.Password" class="form-control" placeholder="Nhập mật khẩu">
                    </div>
                </div>
                <div class="form-group mb-3 d-flex justify-content-between">
                    <a asp-page="./Fogot">Quên mật khẩu?</a>
                    <a asp-page="./Register">Chưa có tài khoản?</a>
                </div>
                <div class="form-group text-center mt-5">
                    <button class="btn btn-primary" type="submit"><i class="bi bi-box-arrow-in-right"></i> Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
