@page
@model Waho.Pages.RegisterModel
@{
}

<div class="row d-flex">
    <div class="mx-auto form-container col-md-5 reg-container">
        <div class="pb-4 px-3">
            <div class="d-flex mt-4">
                <h1 class="mx-auto d-flex align-items-center">
                    <img src="~/img/wahologo.png" width="50px" height="50px" />Wa<span class="primary-color">Ho</span>
                </h1>
            </div>
            <h4 class="">Đăng ký </h4>
            <hr />
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Employee.EmployeeName" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-text span-input-primary"><i class="bi bi-person-video2"></i></span>
                        <input type="text" asp-for="Employee.EmployeeName" class="form-control" placeholder="Nhập tên người dùng">
                    </div>
                </div>
                <div class="d-flex mb-3 justify-content-between">
                    <div class="form-group flex-md-grow-1 me-3">
                        <label asp-for="WahoInformation.Phone" class="control-label"></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text span-input-primary"><i class="bi bi-telephone-fill"></i></span>
                            <input type="text" asp-for="WahoInformation.Phone" class="form-control" placeholder="Nhập số điện thoại">
                        </div>
                    </div>

                    <div class="form-group flex-md-grow-1">
                        <label asp-for="WahoInformation.Email" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text span-input-primary"><i class="bi bi-envelope-fill"></i></span>
                            <input type="password" asp-for="WahoInformation.Email" class="form-control" placeholder="Nhập email">
                        </div>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="WahoInformation.WahoName" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-text span-input-primary"><i class="bi bi-tags-fill"></i></span>
                        <input type="text" asp-for="WahoInformation.WahoName" class="form-control" placeholder="Nhập tên cửa hàng">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="WahoInformation.Address" class="control-label"></label>
                    <div class="input-group">
                        <span class="input-group-text span-input-primary"><i class="bi bi-building-fill"></i></span>
                        <input type="text" asp-for="WahoInformation.Address" class="form-control" placeholder="Nhập địa chỉ cửa hàng">
                    </div>
                </div>
                <div class="d-flex mb-3 justify-content-between">
                    <div class="form-group flex-md-grow-1 me-3">
                        <label asp-for="Employee.UserName" class="control-label"></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text span-input-primary"><i class="bi bi-people-fill"></i></span>
                            <input type="text" asp-for="Employee.UserName" class="form-control" placeholder="Nhập tên đăng nhập">
                        </div>
                    </div>

                    <div class="form-group flex-md-grow-1">
                        <label asp-for="Employee.Password" class="control-label"></label>
                        <div class="input-group">
                            <span class="input-group-text span-input-primary"><i class="bi bi-key-fill"></i></span>
                            <input type="password" asp-for="Employee.Password" class="form-control" placeholder="Nhập mật khẩu">
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <a asp-page="./Index"><button type="button" class="btn btn-outline-primary me-2"><i class="bi bi-arrow-return-left"></i> Trở lại</button></a>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-right"></i> Đăng ký</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
