@page
@model Waho.Pages.WarehouseStaff.Products.UploadFileExcelModel

@{
    ViewData["Title"] = "UploadFileExcel";
}



<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
